body {
    background-color: #c7c7c7;
}

header {
    background-color: grey;
    font-family: "coquette", cursive;
    font-size: 30px;
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 0%;
    width: fit-content;
    height: 3rem;
}

body {
    margin-top: 20px;
    margin-bottom: 20px;
}
header {
    margin-bottom: 20px;
}
footer {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

p {
    font-size: 24px;
    font-style: normal;
    text-align: center;
    margin-top: 20px;
    text-align: justify;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
}
nav ul li {
    margin-right: 50px;
    margin-left: 50px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
    padding: 5;
    margin: 0;
    display: flex;
    justify-content: center;
}

h2 {
    padding: 26px;
    margin-top: 80px;
    margin-bottom: 10px;
    background-color: #c7c7c7;
    text-align: center;
    font-size: 30px; /* Set the font size for h2 */
}

h3 {
    padding: 26px;
    margin-top: 80px;
    margin-bottom: 10px;
    background-color: #c7c7c7;
    text-align: center;
    font-size: 30px; /* Set the same font size as h2 */
}

footer {
    background-color: #c7c7c7;
    font-size: 24px;
    padding: 10px;
    text-align: center;
    bottom: 10%;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: 50px;
}

ul li {
    margin-left: 50px;
    margin-right: 50px;
}

footer ul li img {
    float: right;
    max-width: 100%;
    height: 35px;
    width: 35px;
    align-items: center;
}
